    <h1>À Propos de nous</h1>
    <p>
      <a href="http://railstutorial.org/">Le Tutoriel Ruby on Rails</a>
    est un projet pour faire un livre des screnncasts pour apprendre le
    développement web avec 
    <a href="http://rubyonrails.org/">Ruby on Rails</a>. C'est
      une Application Exemple pour le tutoriel.
    </p>